<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dash.css">
</head>

<body>
    <div class="container">
        <h1>Dashboard</h1>
        <h3>Welcomes <%= user.id.username %></h3>
        <div id="dashboard-content">
            You're Logged In
            
        </div>
    </div>
    <form action="/api/auth/logout" method="GET">
        <button type="submit">Logout</button>
    </form>

</body>

</html>